---
import "../styles/global.css";
import '@fontsource-variable/mulish';


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/carta.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Cartitas fou u</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		background: linear-gradient(
    to bottom,
    #843AAF 12%,
    #999999 100%
	
  );
		font-family: 'Mulish Variable', sans-serif;
	}
</style>
